<form action="get" class="form">
  <mat-form-field appearance="outline" class="form__input">
    <mat-label>Artist</mat-label>
    <input matInput placeholder="Artist" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form__input">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form__input">
    <mat-label>Reference</mat-label>
    <input matInput placeholder="Reference" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form__input">
    <mat-label>Format</mat-label>
    <input matInput placeholder="Format" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form__input">
    <mat-label>Media Condition</mat-label>
    <mat-select>
      <mat-option value="option">Mint (M)</mat-option>
      <mat-option value="option">Near Mint (NM or M-)</mat-option>
      <mat-option value="option">Very Good Plus (VG+)</mat-option>
      <mat-option value="option">Very Good (VG)</mat-option>
      <mat-option value="option">Good Plus (G+)</mat-option>
      <mat-option value="option">Good (G)</mat-option>
      <mat-option value="option">Fair (F)</mat-option>
      <mat-option value="option">Poor (P)</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form__input">
    <mat-label>Sleeve Condition</mat-label>
    <mat-select>
      <mat-option value="option">Mint (M)</mat-option>
      <mat-option value="option">Near Mint (NM or M-)</mat-option>
      <mat-option value="option">Very Good Plus (VG+)</mat-option>
      <mat-option value="option">Very Good (VG)</mat-option>
      <mat-option value="option">Good Plus (G+)</mat-option>
      <mat-option value="option">Good (G)</mat-option>
      <mat-option value="option">Fair (F)</mat-option>
      <mat-option value="option">Poor (P)</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form__input">
    <mat-label>City</mat-label>
    <mat-select>
      <mat-option value="option">Valencia</mat-option>
      <mat-option value="option">Barcelona</mat-option>
      <mat-option value="option">Hamburg</mat-option>
      <mat-option value="option">Glasgow</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="accent" class="form__submit">SEARCH</button>
</form>
