.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  .form__input{
    width: 80%;
  }

  .form__submit{
    height: 50px;
    color:#ffffff;
    background-color: #000000;
  }
}

@media only screen and (min-width: 600px) {
  .form__input{
    margin-left: 10px;
    margin-right: 10px;

    .input__field{
      width: 100%;
    }
  }

  .form__submit{
    margin-top: 5px;
  }

  .form__left{
    margin-left: 0px;
  }

  .form__rigth{
    margin-right: 0px;
  }

  .form__first-row,
  .form__second-row{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}

