<form class="form">
  <div class="form__first-row">
    <input
      matInput
      placeholder="Filter"
      (keyup)="applyFilter($event)"
      (focus)="displayTable()"
      class="table__filterInput"
      #input
    />
    <div class="mat-elevation-z8 table">
      <!-- Filter -->
      <!-- Table -->
      <table
        mat-table
        [dataSource]="dataSource"
        *ngIf="showTable"
        (click)="hideTable()"
        matSort
      >
        <!-- Artist Column -->
        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
          <td mat-cell *matCellDef="let record">
            <div class="table__cell">{{ record.artist }}</div>
          </td>
        </ng-container>

        <!-- Title column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let record">
            <div class="table__cell">{{ record.title }}</div>
          </td>
        </ng-container>

        <!-- Reference column -->
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference</th>
          <td mat-cell *matCellDef="let record">
            <div class="table__cell">{{ record.reference }}</div>
          </td>
        </ng-container>

        <!-- Format column -->
        <ng-container matColumnDef="format">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Format</th>
          <td mat-cell *matCellDef="let record">
            <div class="table__cell">{{ record.format }}</div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

        <!-- When a column is clicked the console logs its data -->
        <tr
          mat-row
          *matRowDef="let myRowData; columns: columnsToDisplay"
          (click)="changePlaceholder(myRowData)"
          (click)="passRecordFromForm(myRowData._id)"
          (click)="this.RecordsService.filterStores(myRowData._id, allStores)"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form__second-row">
    <div class="form__input form__left">
      <mat-form-field appearance="outline" class="input__field">
        <mat-label>Media Condition</mat-label>
        <mat-select>
          <mat-option value="option">Mint (M)</mat-option>
          <mat-option value="option">Near Mint (NM or M-)</mat-option>
          <mat-option value="option">Very Good Plus (VG+)</mat-option>
          <mat-option value="option">Very Good (VG)</mat-option>
          <mat-option value="option">Good Plus (G+)</mat-option>
          <mat-option value="option">Good (G)</mat-option>
          <mat-option value="option">Fair (F)</mat-option>
          <mat-option value="option">Poor (P)</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form__input">
      <mat-form-field appearance="outline" class="input__field">
        <mat-label>Sleeve Condition</mat-label>
        <mat-select>
          <mat-option value="option">Mint (M)</mat-option>
          <mat-option value="option">Near Mint (NM or M-)</mat-option>
          <mat-option value="option">Very Good Plus (VG+)</mat-option>
          <mat-option value="option">Very Good (VG)</mat-option>
          <mat-option value="option">Good Plus (G+)</mat-option>
          <mat-option value="option">Good (G)</mat-option>
          <mat-option value="option">Fair (F)</mat-option>
          <mat-option value="option">Poor (P)</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form__input">
      <mat-form-field appearance="outline" class="input__field">
        <mat-label>City</mat-label>
        <mat-select>
          <mat-option value="option">Valencia</mat-option>
          <mat-option value="option">Barcelona</mat-option>
          <mat-option value="option">Hamburg</mat-option>
          <mat-option value="option">Glasgow</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form__input form__rigth">
      <button mat-flat-button color="accent" class="input__field form__submit">
        SEARCH
      </button>
    </div>
  </div>
</form>
