<div class="how-it-works-container">
  <button
    mat-flat-button
    routerLink="/store"
    class="form__submit container__back-button"
  >
    BACK
  </button>
  <span class="container__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste harum,
    placeat distinctio culpa qui illum error laboriosam aperiam reprehenderit
    commodi et! Aspernatur cumque cupiditate consectetur neque nemo
    exercitationem nesciunt nam.
    <br /><br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa id doloremque
    error dolorem ipsa, corrupti nulla nesciunt quis. Autem porro amet
    recusandae, hic vitae sapiente! Molestiae suscipit maxime quidem sit?
    <br /><br />
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis harum quod
    expedita recusandae eaque fugiat iste ab corporis ipsa, odit, error quaerat
    cumque sint est voluptas omnis sed ut exercitationem.
    <br /><br />
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis harum quod
    expedita recusandae eaque fugiat iste ab corporis ipsa, odit, error quaerat
    cumque sint est voluptas omnis sed ut exercitationem.
  </span>
</div>
