<div class="container">
  <button
    mat-flat-button
    color="accent"
    class="input__field container__button"
    routerLink="/store"
  >
    BACK
  </button>
  <div class="container__text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt
      doloremque quam doloribus ipsa consequuntur, aliquam, accusantium autem
      eligendi, debitis corporis? Excepturi, necessitatibus reiciendis. Dolore,
      suscipit? Odio alias quis minus.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt
      doloremque quam doloribus ipsa consequuntur, aliquam, accusantium autem
      eligendi, debitis corporis? Excepturi, necessitatibus reiciendis. Dolore,
      suscipit? Odio alias quis minus.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt
      doloremque quam doloribus ipsa consequuntur, aliquam, accusantium autem
      eligendi, debitis corporis? Excepturi, necessitatibus reiciendis. Dolore,
      suscipit? Odio alias quis minus.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt
      doloremque quam doloribus ipsa consequuntur, aliquam, accusantium autem
      eligendi, debitis corporis? Excepturi, necessitatibus reiciendis. Dolore,
      suscipit? Odio alias quis minus.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt
      doloremque quam doloribus ipsa consequuntur, aliquam, accusantium autem
      eligendi, debitis corporis? Excepturi, necessitatibus reiciendis. Dolore,
      suscipit? Odio alias quis minus.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt
      doloremque quam doloribus ipsa consequuntur, aliquam, accusantium autem
      eligendi, debitis corporis? Excepturi, necessitatibus reiciendis. Dolore,
      suscipit? Odio alias quis minus.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt
      doloremque quam doloribus ipsa consequuntur, aliquam, accusantium autem
      eligendi, debitis corporis? Excepturi, necessitatibus reiciendis. Dolore,
      suscipit? Odio alias quis minus.
    </p>
  </div>
</div>
