

.table {
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
}

.mat-table{
  width: 100%;
}

.table__cell{
  margin: 5px;
}

input {
  border: 0;
  border-bottom: 1px solid #000000;
  background: #f3f1f1;
  font-size: large;
  margin: 1%;
  outline: none;
}
