.header-container {
width: 100%;
  .header-container__super-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background: #000000;

    .super-header__nav{
      display: none;
    }

    .nav__info{
      color:white;
    }

    .super-header__text{
      color: #e0e0e2;
      font-family: 'Roboto', sans-serif;
      margin: 0 auto;
    }
  }

  .header-container__logo{
    width: 115px;
    height: 29px;
    margin-left: 37px;
    margin-top: 16px;
  }
}

 @media only screen and (min-width: 600px){
  .header-container{
    .header-container__super-header{
      .super-header__nav{
        display:flex;
        margin-right: 2%;
      }
      }
    }
}
