.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Mulish', sans-serif;

  .content-container__text-highlight{
    width: 80%;
    font-weight: bolder;
    font-size: 25px;
    line-height: 40px;
  }

  .content-container__content{
    display: flex;
    flex-direction:column;
    width: 80%;
    margin-top: 10px;

    .content__icon{
      width: 32px;
      height: 32px;
      margin-bottom: 5px;
    }

    .content___text{
      font-size: 20px;
    }
  }

  .content-container__image{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
