<div class="content-container">
  <span class="content-container__text-highlight">
    Now you can find your favorite records in your favorite local shop in an
    easy way
  </span>

  <div class="content-container__content">
    <img
      src="../../assets/images/record-icon.svg"
      alt="record-icon"
      class="content__icon"
    />
    <span class="content___text">
      Find the record you are lookin for in any condition and format. So easy as
      searching online
    </span>
  </div>

  <div class="content-container__content">
    <img
      src="../../assets/images/local-store-logo.svg"
      alt="local-store-recod"
      class="content__icon"
    />
    <span class="content___text">
      Buy your record directly in your favorite shop. No shipping fees or
      delays. Old school shopping.
    </span>
  </div>

  <img
    src="../../assets/images/iron-maiden-record.png"
    alt="iron maiden record"
    class="content-container__image"
  />
</div>
