agm-map{
  height: 80vw;;
}

.map-container{
  margin-top: -51px;
  display: flex;
  flex-direction: column;

  .storeName {
    font-size: 110%;
    font-weight: bold;
  }
  .map-container__button{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 100px;
    align-self: center;
    color: #ff0000;
    cursor: pointer;
  }
}


@media only screen and (min-width: 600px){

  agm-map{
    height: 30vw;
  }
  .map-container{
    max-height: 30vw;
  }
}
