<div class="map-container">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="11">
    <agm-marker
      *ngFor="let store of storesFiltered | async"
      [latitude]="store.coordinates.latitude"
      [longitude]="store.coordinates.longitude"
    >
      <agm-info-window
        ><span class="storeName">{{ store.storeName }}</span
        ><br />{{ store.adress }}</agm-info-window
      >
    </agm-marker>
  </agm-map>

  <button
    *ngIf="auth.isAuthenticated$ | async"
    CLASS="map-container__button"
    routerLink="/store"
  >
    GO TO STORES DASHBOARD
  </button>
</div>
