
.store-dashboard-buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;

 .store-dashboard-buttons__left-buttons{
   display: flex;
   justify-content: space-between;
   width: 25%;
 }

 .store-dashboard-buttons__rigth-buttons {
   display: flex;
   justify-content: space-between;
   width: 40%;
 }

 .form_text {
   text-align:  center;
    padding: auto;
 }

 .input__field{
   color: #ffffff;
   background: #000000;
 }

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

}

