<div class="store-dashboard-buttons">
  <div class="store-dashboard-buttons__left-buttons">
    <div class="form__input store-dashboard-buttons__button">
      <button
        mat-flat-button
        color="accent"
        class="input__field"
        routerLink="/"
      >
        TO MAP VIEW
      </button>
    </div>
    <div class="form__input store-dashboard-buttons__button">
      <button
        mat-flat-button
        color="accent"
        class="input__field"
        routerLink="/how-it-works"
      >
        HOW IT WORKS
      </button>
    </div>
  </div>
  <div class="form_text">
    <span *ngIf="isChecked | async">All records in database</span>
    <span class="cell_text" *ngIf="!(isChecked | async)">Your Records</span>
  </div>
  <div class="store-dashboard-buttons__rigth-buttons">
    <label class="switch">
      <input type="checkbox" (click)="callService()" />
      <span class="slider round"></span>
    </label>
    <div class="form__input store-dashboard-buttons__button">
      <button mat-flat-button color="accent" class="input__field">
        BULK REMOVE
      </button>
    </div>
    <div class="form__input store-dashboard-buttons__button">
      <button mat-flat-button color="accent" class="input__field">
        REMOVE SELECTED
      </button>
    </div>
  </div>
</div>
