<div class="sign-in">
  <span class="sign-in__text">
    <h2>Sign In</h2>
    <p>If you allready have an account, please sign in.</p>
  </span>
  <form class="sign-in__form">
    <!-- E-Mail -->
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        placeholder="Enter your e-mail"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- Submit -->
    <button mat-flat-button color="accent" class="form__submit">SIGN IN</button>
  </form>
</div>
