<div class="store-dashboard-buttons">
  <div class="store-dashboard-buttons__left-buttons">
    <div class="form__input store-dashboard-buttons__button">
      <button mat-flat-button color="accent" class="input__field">
        <a href="../../../../../assets/documents/import-example.csv">
          EXAMPLE FILE
        </a>
      </button>
    </div>
    <div class="form__input store-dashboard-buttons__button">
      <button
        mat-flat-button
        color="accent"
        class="input__field"
        routerLink="/how-it-works"
      >
        HOW IT WORKS
      </button>
    </div>
  </div>
  <div class="store-dashboard-buttons__rigth-buttons">
    <div class="form__input store-dashboard-buttons__button">
      <button mat-flat-button color="accent" class="input__field">
        ADD OR UPDATE
      </button>
    </div>
    <div class="form__input store-dashboard-buttons__button">
      <button mat-flat-button color="accent" class="input__field">
        BULK REMOVE
      </button>
    </div>
    <div class="form__input store-dashboard-buttons__button">
      <button mat-flat-button color="accent" class="input__field">
        REMOVE SELECTED
      </button>
    </div>
  </div>
</div>
