h1{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.not-found{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;


  .not-found__message {
    width: 80%;
    margin: auto;
    margin-top: 3%;

  }

  .not-found__image{
    margin: auto;
    display: flex;
    align-items: center;
    width: 60%;

    .image__image{
    width: inherit;
    margin: auto;
    }
  }

  .not-found__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;


    .link__button{
      width: 300px;
      margin-top: 3%;
    }
  }
}
