<div class="not-found">
  <div class="not-found__message">
    <h1>
      ¿No eres capaz de encontrar una página que funcione y le quieres encontrar
      sentido a tu vida?
    </h1>
  </div>
  <div class="not-found__image">
    <img
      src="../../../assets/images/not-found-bro.jpg"
      alt="page not found"
      class="image__image"
    />
  </div>
  <div class="not-found__link">
    <span class="link__text"
      >Deja de perder tu tiempo y mi paciencia y vuelve a la home.</span
    >
    <button class="link__button" routerLink="/">BACK TO HOME</button>
  </div>
</div>
